<div class="container">

    <div class="header">
      <img class="logo" src="img/logo.svg">
    </div>

    <div class="jumbotron">
      <form>
        <p class="lead">
          To get started, enter your GitHub username or organization.
        </p>
        <p>
          <input type="text" class="form-control" ng-model="app.username" placeholder="Example: 'eaze' or 'angular'">
        </p>
        <p>
          <button type="submit" class="btn btn-lg btn-success" ng-click="app.getRepos()">
            Fetch GitHub Repos
          </button>
        </p>
      </form>
    </div>

    <div class="alert alert-danger" ng-if="app.error">
      <strong>Oops!</strong>
      {{ app.error }}
    </div>

    <div class="alert alert-success" ng-if="app.repos.length">
      Found a total of {{ app.repos.length }} repos for
      <strong>
        {{ ::app.username }}
      </strong>
    </div>

    <div class="loader" ng-if="app.loading"></div>

    <div class="row" ng-if="app.repos">
      <ul class="list-group">
        <li ng-repeat="repo in app.repos" class="row list-group-item">
          <div class="col-md-12">
            <h3>
              {{ repo.name }}
            </h3>
            <p>
              {{ repo.description }}
            </p>
            <span class="label label-primary label-as-badge">
              {{ repo.watchers }} watchers
            </span>
            <span class="pull-right">
              <a ng-href="{{repo.html_url}}" class="view-repo" target="_blank">
                <button type="button" class="btn btn-sm btn-default btn-repo">
                  View Repo
                </button>
              </a>
            </span>
          </div>
        </li>
      </ul>
    </div>

</div>
